<h1 class="ui header">Welcome to Firefly Assistant!</h1>
<%- include('./partials/successMessage') %>

<div class="ui segment">
	<img class="ui tiny image" src="https://fireflylearning.com/assets/icons/228x228.png" alt="Firefly logo">
	<h2>What is Firefly Assistant?</h2>
	
	<p>Firefly Assistant is an <strong>unofficial</strong> service for the <a href="https://fireflylearning.com" target="_blank" rel="noopener external">Firefly Learning</a> school platform that enables you to convert your timetable into a live <a href="https://www.lifewire.com/ics-file-2622749" target="_blank" rel="noopener external">iCalendar</a> file (so it can be shown in your own calendar, e.g. on your phone)</p>

	<p>Please note that this service was created and is run by <a href="https://www.joshheng.co.uk" target="_blank" rel="noopener author">Josh Heng</a>, who is not affiliated in any way with Firefly Learning. <a href="https://github.com/JoshHeng/FireflyAssistant" target="_blank" rel="noopener external">The source code can be found on GitHub here.</a> You can contact support at <a href="mailto:support@joshheng.co.uk" target="_blank">support@joshheng.co.uk</a></p>

	<div class="ui warning icon message">
		<i class="exclamation triangle icon"></i>
		<div class="content">
			<div class="header">Warning</div>
			<p>Using this service will give the service full access to your Firefly account. Unfortunately there is no way to limit the permissions and scope of the service, however access can be revoked and your account can be deleted at any time. <strong>I accept no responsibility for any damage caused by this service.</strong></p>
		</div>
	</div>
</div>

<p>Please <a href="/register">register</a> or <a href="/login">login</a> to get started...</p>
<a href="/register" class="ui large primary button">Register</a>
<a href="/login" class="ui large secondary button">Login</a>
